<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="5abf5823-b83f-4b15-852c-48060934f293" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://app.celsuis.network" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="5abf5823-b83f-4b15-852c-48060934f293fileName">http%3A%2F%2Fapp.celsuis.network</con:setting>
  </con:settings>
  <con:definitionCache/>
  <con:endpoints>
    <con:endpoint>http://app.celsuis.network</con:endpoint>
  </con:endpoints>
</con:interface>
