<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="0d6354b6-afab-41ff-bf3b-299479f96412" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://login.celsuis.network" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="0d6354b6-afab-41ff-bf3b-299479f96412fileName">http%3A%2F%2Flogin.celsuis.network</con:setting>
  </con:settings>
  <con:definitionCache/>
  <con:endpoints>
    <con:endpoint>http://login.celsuis.network</con:endpoint>
  </con:endpoints>
</con:interface>
